.lead__title{
  margin: auto;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  line-height: 100px;
  max-width: 720px;
}

@media screen and (max-width:670px) {
  .lead__title{
    font-size: 40px;
    line-height: 44px;
  }
}
