.lead__image{
  margin-top: 64px;
  width: 100%;
}


@media screen and (max-width:1024px) {
  .lead__container{
    margin: 56px 0;
  }
}


@media screen and (max-width:320px) {
  .lead__container{
    margin: 40px 0;
  }
}
